html,
body {
  height: -webkit-fill-available;
  /* background-size: cover; */
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(red, yellow);
}
/* background-color: lightgray; */

#buttonDiv {
  width: 100%;
  height: 75px;
  text-align: center;
}

#newDie {
  width: 300px;
  height: 60px;
  font-size: 36px;
  text-shadow: 2px 2px 2px black;
  color: rgb(208, 211, 36);
  background-color: rgb(59, 172, 172);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-style: inset;
  border-radius: 10px;
  border-width: medium;
  border-color: black;
}

#allDie {
  width: 300px;
  height: 60px;
  font-size: 36px;
  text-shadow: 2px 2px 2px black;
  color: rgb(208, 211, 36);
  background-color: rgb(59, 172, 172);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-style: inset;
  border-radius: 10px;
  border-width: medium;
  border-color: black;
}

#sumDie {
  width: 300px;
  height: 60px;
  font-size: 36px;
  text-shadow: 2px 2px 2px black;
  color: rgb(131, 9, 9);
  background-color: rgb(59, 172, 172);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-style: inset;
  border-radius: 10px;
  border-width: medium;
  border-color: black;
}
